* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

.experience {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

/*playbutton animations*/
#playButton::before,
#playButton::after {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 35px;
    background-color: #000;
    transition: transform 0.3s ease;
}

#playButton::before {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

#playButton::after {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/*playbutton animation*/
#playButton.clicked::before,
#playButton.clicked::after {
    transform: translate(-50%, -50%) rotate(0deg);
}

/*pop up info menu style*/
.info-popup {
    display: none;
    position: absolute;
    top: -60px; /* Располагаем окошко выше кнопки */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 200px;
}

/*idk but need*/
#infoButton:hover .info-popup {
    display: block;
}

/*header pic pos*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 20px;
}

    /*header pic style*/
    .header img {
        display: block;
        margin: 0 auto;
        width: 657px; /* Установите ширину изображения в соответствии с размером */
        height: 183px; /* Установите высоту изображения в соответствии с размером */
    }

/*on load animation*/
.container,
.header {
    opacity: 0;
    transition: opacity 2.8s ease; /* Добавляем анимацию для свойства opacity */
}

/*button style*/
#githubButton,
#mailButton,
#documentButton,
#playButton,
#infoButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; /* Adjust the spacing between buttons */
    position: relative;
}

    #githubButton img,
    #mailButton img,
    #documentButton img,
    #playButton img,
    #infoButton img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
        border-radius: 25%;
        background-color: rgba(155, 73, 255, 0.4);
        transition: background-color 0.3s ease;
    }

    #githubButton:hover img,
    #mailButton:hover img,
    #documentButton:hover img,
    #playButton:hover img,
    #infoButton:hover img {
        background-color: rgba(211, 173, 255, 0.36);
    }

    #githubButton:hover,
    #mailButton:hover,
    #documentButton:hover,
    #playButton:hover,
    #infoButton:hover {
        transform: scale(1.1);
        transition: transform 0.8s ease;
    }

    #githubButton,
    #mailButton,
    #documentButton,
    #playButton,
    #infoButton {
        transform: scale(1);
        transition: transform 0.8s ease;
    }

/*container rows style*/
.top-row,
.bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*space from top and bottom rows*/
.bottom-row {
    margin-top: 10px;
}

/* Original styles for the bottom panel */
.container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack the two rows vertically */
}

/*header hover effect*/
.header img:hover {
    transform: scale(1.1);
    transition: transform 0.8s ease;
}

/*header mouseout effect*/
.header img {
    transform: scale(1);
    transition: transform 0.8s ease;
}

/*mobile adaptation of bottom container*/
@media (max-width: 500px) {
    .container {
        width: 100%;
    }

    /*button style*/
    #githubButton,
    #mailButton,
    #documentButton,
    #playButton,
    #infoButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px; /* Adjust the spacing between buttons */
        position: relative;
    }
        /*playbutton animations*/
        #playButton::before,
        #playButton::after {
            content: "";
            display: block;
            position: absolute;
            width: 4px;
            height: 70px;
            background-color: #000;
            transition: transform 0.3s ease;
        }
}
